.tabla {
    margin: 5px 0;
    border: 1px #d7dbdf solid;

    .header-seccion {
        height: 30px;
        border-bottom: 1px #d7dbdf solid;
    }
}

.contenido {
    padding: 10px 8px;
}

.consultar{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 8px;

    iframe {
        width: 100%;
        height: 330px;
    }

    .text{
         width: 15%;     
    }
    .campo{
        width: 40%; 
       padding: 0px 8px;
    }
      .boton { 
          width: 40%;         
                  
          .btn-primary{
            padding: 7px 12px;
            color: #fff;
            border: 0px;
            font-size: 14px;
            font-family: "Open+Sans",sans-serif;
            width: 100px;

            &.rojo {
                background-color: #e67864;
            }

            &.verde{
                background-color: #6ebe64;              
            }
            
            &.turquesa{
                background-color: #75c4c6;
            }

          }
         
        }
 

}

@media only screen and (max-width: 600px) {

    .consultar{
        padding: 10px;
        flex-wrap: wrap;

        iframe {
            width: 100%;
            height: 330px;
        }
    }
 
    .text {
        width: 100% !important;
     }
   .campo {
        width: 60% !important;
        padding: 0px 8px 0px 0px !important;
    }
 
    .boton {
        width: 25% !important;
    }
 
 }