<div id="footer">
  <div class="footer clearfix">
    <div class="row">
        <div class="col-sm-12 boxed-content">
            <div class="row">
                <div class="col-md-4">
                    <img src="assets/images/logos.svg" width="256" alt="">
                </div>
                <div class="hidden-xs hidden-sm col-md-8 text-right links">
                    <a href="https://preprod.rentascordoba.gob.ar/mirentas/rentas.html?page=contacto">Contacto</a> |
                    <a href="https://preprod.rentascordoba.gob.ar/mirentas/rentas.html?page=situacionfiscal">Consulta Situación Fiscal</a>&nbsp;|&nbsp;
                    <a href="https://preprod.rentascordoba.gob.ar/mirentas/rentas.html?page=vencimientos">Vencimientos</a>&nbsp;|&nbsp;
                    <a href="#" ng-click="clickTurnoOnline()">Turnos Online</a>&nbsp;|&nbsp;
                    <a href="https://preprod.rentascordoba.gob.ar/mirentas/rentas.html?page=denuncia">Denuncias</a>&nbsp;|&nbsp;
                    <a href="https://preprod.rentascordoba.gob.ar/mirentas/rentas.html?page=consultaweb"> Consultas</a>
                    <a href="https://www.facebook.com/rentascba/" target="_blank">
                        <i class="fa fa-facebook circle-icon hidden-xs" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
